{% extends "base.html"%}

{% block content %}
{% load static %}

<form class="row g-3" class="register_form">
  <div class="col-md-6">
    <label for="fnameField" class="form-label">First Name</label>
    <input type="text" class="form-control" id="fnameField">
  </div>
  <div class="col-md-6">
    <label for="lnameField" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="lnameField">
  </div>
  <div class="col-12">
    <label for="usernameField" class="form-label">Username</label>
    <input type="text" class="form-control" id="usernameField">
  </div>
  <div class="col-12">
    <label for="passwordField" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordField">
  </div>
  <div class="col-md-6">
    <label for="cpasswordField" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="cpasswordField">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Register</button>
  </div>
</form>

{% endblock %}